{% extends 'base.html.twig' %}

{% block title %}Page Non Trouvée - 404{% endblock %}

{% block body %}
    <div class="container my-5 text-center">
        <div class="py-5">
            <h1 class="display-1 fw-bold text-primary">404</h1>
            <h2 class="mb-4">Oups ! Page non trouvée</h2>
            <p class="lead mb-5">La page que vous recherchez semble avoir été déplacée ou n'existe plus.</p>
            <a href="{{ path('app_home') }}" class="btn btn-primary btn-lg">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
